<!--
  Generated template for the MarketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Market</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list-header>
    Boxes
  </ion-list-header>

  <ion-list *ngIf="boxes">

    <ion-item *ngFor="let box of boxes">

      <ion-thumbnail item-start>
        <img [src]="box.image">
      </ion-thumbnail>

      <h2>{{box.name}}</h2>

      <p>
        {{box.description}} •
        <ion-note item-end>{{box.price}}$</ion-note>
      </p>

      <button ion-button clear item-end>Buy</button>

    </ion-item>

  </ion-list>

  <ion-list *ngIf="!boxes">
    <skeleton-list-item *ngFor="let box of skeleton.parts.boxes">
    </skeleton-list-item>
  </ion-list>

</ion-content>
