<ion-card>

  <ion-card-content>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="lesson.imageSrc">
      </ion-avatar>
      <h2>{{lesson.title}}</h2>
      <p class="lesson-type">{{lesson.type}}</p>
    </ion-item>
    <p>
      {{lesson.description}}
    </p>
  </ion-card-content>

  <ion-row no-padding>

    <ion-col>
      <button ion-button icon-start clear small [color]="levelCls(lesson)">
        <ion-icon name="ribbon"></ion-icon>
        <div>Level {{lesson.level}}</div>
      </button>
    </ion-col>

    <ion-col align-self-center text-center>
      <ion-note>
        {{lesson.progress.current}} / {{lesson.progress.total}}
      </ion-note>
    </ion-col>

    <ion-col text-right>
      <button ion-button clear small color="primary" icon-end (tap)="presentLesson(lesson)">
        Let's go
        <ion-icon name='arrow-round-forward'></ion-icon>
      </button>
    </ion-col>

  </ion-row>

</ion-card>
