.button-clear-md {

  &-level1 {
    color: color($colors, level1);
  }

  &-level2 {
    color: color($colors, level2);
  }

  &-level3 {
    color: color($colors, level3);
  }

  &-level4 {
    color: color($colors, level4);
  }

  &-level5 {
    color: color($colors, level5);
  }

}

.lesson-type {
  color: color($colors, a100) !important;
}
