<div class="c100 p0">
  <img src="https://image.flaticon.com/icons/svg/806/806149.svg"/>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p33 level-1">
  <img src="https://image.flaticon.com/icons/svg/806/806149.svg"/>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p66 level-2">
  <img src="https://image.flaticon.com/icons/svg/806/806149.svg"/>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p100 level-3">
  <img src="https://image.flaticon.com/icons/svg/806/806149.svg"/>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p33">
  <img src="https://image.flaticon.com/icons/svg/806/806149.svg"/>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p66 level-5">
  <img src="https://image.flaticon.com/icons/svg/806/806149.svg"/>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>
