<ion-card class="skeleton-card">

  <ion-card-content>

    <ion-item>

      <ion-avatar class="card-icon" item-start>
      </ion-avatar>

      <h2 class="card-title width-50"></h2>
      <h3 class="card-subtitle width-20"></h3>

    </ion-item>

    <p class="card-line width-90"></p>
    <p class="card-line width-60"></p>

  </ion-card-content>

  <ion-row no-padding>

    <ion-col>
      <button ion-button clear small class="card-button width-50">
      </button>
    </ion-col>

    <ion-col align-self-center text-center>
      <button ion-button clear small class="card-button width-30">
      </button>
    </ion-col>

    <ion-col text-right>
      <button ion-button clear small class="card-button width-50">
      </button>
    </ion-col>

  </ion-row>

</ion-card>
