<!--
  Generated template for the CoursePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title start>Course</ion-title>
    <ion-buttons end>
      <count-down-resource></count-down-resource>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="cards-bg">

  <div *ngIf='chapters'>
    <div *ngFor="let chapter of chapters">
      <div *ngFor="let lesson of chapter.lessons">
        <lesson [lesson]="lesson"></lesson>
      </div>
    </div>
  </div>

  <div *ngIf='!chapters'>
    <div *ngFor="let bone of skeleton.parts.chapters">
      <skeleton-card></skeleton-card>
    </div>
  </div>

</ion-content>
