.error-page {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;

  &__content {
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 1300ms linear 1 both;
    animation-delay: 1300ms;
  }

}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}


